<%= render :partial => "sidebar" %>

	<div id="banner"><img src="/images/img07.jpg" alt="" /></div>
	<div class="post">
		<h2 class="title"><a href="#">Welcome to Propertunities!</a></h2>
		<p class="meta">a clearing house for seats...</p>
		<div class="entry">
<% @resp.inspect%>

			<table>
				<tr>
					<td></td>
				</tr>
			</table>
		</div>
	</div>